@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Add to your global CSS file */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.border-top-right-radius-100 {
  border-top-right-radius: 100%;
}

.transform-translate-z-10 {
  transform: translate3d(0, 0, 10px);
}

.transform-translate-z-20 {
  transform: translate3d(0, 0, 20px);
}

.transform-translate-z-25 {
  transform: translate3d(0, 0, 25px);
}

.transform-translate-z-26 {
  transform: translate3d(0, 0, 26px);
}

.transform-translate-z-40 {
  transform: translate3d(0, 0, 40px);
}

.transform-translate-z-60 {
  transform: translate3d(0, 0, 60px);
}

.transform-translate-z-80 {
  transform: translate3d(0, 0, 80px);
}

.transform-translate-z-100 {
  transform: translate3d(0, 0, 100px);
}

.shadow-custom {
  box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}

.shadow-social {
  box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
}

.shadow-circle {
  box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
}

.parent:hover .card {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

.parent:hover .card .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.parent:hover .card .logo .circle2 {
  transform: translate3d(0, 0, 60px);
}

.parent:hover .card .logo .circle3 {
  transform: translate3d(0, 0, 80px);
}

.parent:hover .card .logo .circle4 {
  transform: translate3d(0, 0, 100px);
}

.parent:hover .card .logo .circle5 {
  transform: translate3d(0, 0, 120px);
}
